.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.randomItem {
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 15px -4px;
}

.button {
    padding: 0 4px;
}

.score {
    font-size: 18px;
    text-align: center;
}
