.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.inner {
    margin-top: 50px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.randomItem {
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 15px -4px;
    min-height: 72px;
}

.button {
    padding: 0 4px;
}

.score {
    font-size: 18px;
    text-align: center;
}
